
@{
    Layout = null;
}

<div style="padding:5px 10px;height:88%;">
    <div>
        <a href="#" class="easyui-linkbutton" plain="true" id="orderListt_search"> <i class="fa fa-search fa-lg"></i>&nbsp;查找</a>
        @*<a href="#" class="easyui-linkbutton" plain="true" id="orderListt_refresh" ><i class="fa fa-refresh fa-lg"></i>&nbsp;刷新</a>*@
        <a href="#" class="easyui-linkbutton" plain="true"> <i class="fa fa-print fa-lg"></i>&nbsp;打印</a>
        <a href="#" class="easyui-linkbutton" plain="true" id="orderListt_excel"> <i class="fa fa-file-excel-o fa-lg"></i>&nbsp;excel</a>
    </div>
    <div class="column"><span class="current">预收款凭单清单</span></div>
    <div id="orderListt_datagrid"></div>
    @*<div id="orderListt_dialog" class="easyui-dialog" title="查询条件" data-options="modal:true,closed:true,toolbar:'#advance_toolbar_buttons'" style="width:600px;height:210px;padding:10px;">
        <form id="orderListt_form">
            <table class="kv-table">
                <tbody>
                    <tr>
                        <td class="kv-label">订单号</td>
                        <td class="kv-content"><input class="easyui-combobox" name="orderNo" id="orderListt_orderNo" /></td>
                        <td class="kv-label">订单名称</td>
                        <td class="kv-content"><input class="easyui-textbox" name="orderName" /></td>

                    </tr>
                    <tr>
                        <td class="kv-label">客户名称</td>
                        <td class="kv-content"><input class="easyui-combobox" name="customerNo" id="orderListt_customerNo" /></td>
                        <td class="kv-label">业务员</td>
                        <td class="kv-content"><input class="easyui-combobox" name="saleMan" id="orderListt_saleMan" /></td>
                    </tr>
                    <tr>
                        <td class="kv-label">制单开始日期</td>
                        <td class="kv-content"><input class="easyui-datebox" name="zhidanStart" /></td>
                        <td class="kv-label">制单结束日期</td>
                        <td class="kv-content"><input class="easyui-datebox" name="zhidanEnd" /></td>
                    </tr>

                </tbody>
            </table>
        </form>
    </div>
    <div id="advance_toolbar_buttons">
        <table cellpadding="0" cellspacing="0" style="width:100%">
            <tr>
                <td>
                    <a href="#" class="easyui-linkbutton" plain="true" id="orderListt_go"><i class="fa fa-check fa-lg"></i>&nbsp;确定</a>
                    <a href="#" class="easyui-linkbutton" plain="true" id="orderListt_cancel"><i class="fa fa-times fa-lg"></i>&nbsp;取消</a>
                </td>
            </tr>
        </table>
    </div>*@
</div>
