
@{
    Layout = null;
}

<div style="padding:5px 10px;height:88%;">
    <div>
       
        <a href="#" class="easyui-linkbutton" plain="true" id="quotationList_generate"> <i class="fa fa-files-o" aria-hidden="true"></i>&nbsp;生成</a>
        <a href="#" class="easyui-linkbutton" plain="true" id="quotationList_search"> <i class="fa fa-search fa-lg"></i>&nbsp;查找</a>
        @*<a href="#" class="easyui-linkbutton" plain="true" id="quotationList_refresh" ><i class="fa fa-refresh fa-lg"></i>&nbsp;刷新</a>*@
        <a href="#" class="easyui-linkbutton" plain="true" id="quotationList_excel"> <i class="fa fa-file-excel-o fa-lg"></i>&nbsp;excel</a>
        <a href="#" class="easyui-linkbutton" plain="true" id="quotationList_print"> <i class="fa fa-print fa-lg"></i>&nbsp;打印</a>
        <input type="hidden" id="quotation_orderNo"/>
        @*<a href="#" class="easyui-linkbutton" plain="true" id="quotationList_excel"> <i class="fa fa-file-excel-o fa-lg"></i>&nbsp;excel</a>*@
    </div>
    <div class="column"><span class="current">报价清单</span></div>
    <div id="quotationList_datagrid"> </div>
    <div id="quotationList_dialog" class="easyui-dialog" title="查询条件" data-options="modal:true,closed:true,toolbar:'#quotationList_toolbar_buttons'" style="width:600px;height:210px;padding:10px;">
        <form id="quotationList_form">
            <table class="kv-table">
                <tbody>
                    <tr>
                        <td class="kv-label" >报价单号</td>
                        <td class="kv-content"><input class="easyui-combobox" name="orderNo" id="quotationList_quotationNo" /></td>
                        <td class="kv-label">印品名称</td>
                        <td class="kv-content"><input class="easyui-textbox" name="orderName"  /></td>
                    </tr>
                    <tr>

                        <td class="kv-label">客户名称</td>
                        <td class="kv-content"><input class="easyui-combobox" name="customerNo" id="quotationList_customerNo" /></td>
                        <td class="kv-label">业务员</td>
                        <td class="kv-content"><input class="easyui-combobox" name="saleMan" id="quotationList_saleMan" /></td>

                    </tr>
                    <tr>
                        <td class="kv-label">报价开始日期</td>
                        <td class="kv-content"><input class="easyui-datebox" name="zhidanStart" /></td>
                        <td class="kv-label">报价结束日期</td>
                        <td class="kv-content"><input class="easyui-datebox" name="zhidanEnd" id="quotationList_zhidanend" /></td>
                    </tr>

                </tbody>
            </table>
        </form>
    </div>
    <div id="quotationList_toolbar_buttons">
        <table cellpadding="0" cellspacing="0" style="width:100%">
            <tr>
                <td>
                    <a href="#" class="easyui-linkbutton" plain="true" id="quotationList_go"><i class="fa fa-check fa-lg"></i>&nbsp;确定</a>
                    <a href="#" class="easyui-linkbutton" plain="true" id="quotationList_cancel"><i class="fa fa-times fa-lg"></i>&nbsp;取消</a>
                </td>
            </tr>
        </table>
    </div>
    <iframe src="" frameborder="0" id="quotationListIframe" style="visibility:hidden;height:0px;width:0px;"></iframe>
</div>
<script>
    erpRequire(['quotation/quotationList'])
</script>
