
@{
    Layout = null;
}
<div style="padding:5px 10px;height:98%;">
    <div>
        <a href="#" class="easyui-linkbutton" plain="true" id="designMaster2_add"><i class="fa fa-plus-square fa-lg"></i>&nbsp;新增</a>
        <a href="#" class="easyui-linkbutton" plain="true" id="designMaster2_edit"><i class="fa fa-pencil-square fa-lg"></i>&nbsp;修改</a>
        <a href="#" class="easyui-linkbutton" plain="true" id="designMaster2_remove"><i class="fa fa-trash fa-lg"></i>&nbsp;删除</a>
        <a href="#" class="easyui-linkbutton" plain="true" id="designMaster2_save"><i class="fa fa-save fa-lg"></i>&nbsp;保存</a>
        <a href="#" class="easyui-linkbutton" plain="true" id="designMaster2_auditor" flag=""><i class="fa fa-lock  fa-lg"></i>&nbsp;审核</a>
        <a href="#" class="easyui-linkbutton" plain="true" id="designMaster2_unauditor"><i class="fa fa-unlock fa-lg"></i>&nbsp;撤审</a>
        <a href="#" class="easyui-linkbutton" plain="true" id="designMaster2_pre"><i class="fa fa-step-backward fa-lg"></i>&nbsp;前翻</a>
        <a href="#" class="easyui-linkbutton" plain="true" id="designMaster2_next"><i class="fa fa-step-forward fa-lg"></i>&nbsp;后翻</a>
        @*<a href="#" class="easyui-linkbutton" plain="true" ><i class="fa fa-refresh fa-lg"></i>&nbsp;刷新</a>*@

        <input type="hidden" id="designMaster2_page" value="0" readonly />
        <input type="hidden" id="designMaster2_total" value="-1" readonly />
    </div>
    <div class="column"><span class="current">设计生产流程单</span> &nbsp;&nbsp;<span id="designMaster2_orderNo_text" style="color:red;"></span></div>
    <form id="designMaster2_form">
        <table class="kv-table">
            <tbody>
                <tr>
                    <td class="kv-label">印品名称</td>
                    <td class="kv-content">
                        <input type="hidden" readonly id="designMaster2_orderNo" name="订单号" />
                        <input type="hidden" name="审核人编码" id="designMaster2_auditorPerson" />
                        <input class="easyui-textbox" name="订单名称" required />
                    </td>
                    <td class="kv-label">印品类别</td>
                    <td class="kv-content"><input class="easyui-combobox" id="designMaster2_pCategory" name="印品类别编码" required /></td>
                    <td class="kv-label">订单号</td>
                    <td class="kv-content"><input class="easyui-combobox" name="业务单号" id="designMaster2_orderNos" /></td>
                    <td class="kv-label">校稿日期</td>
                    <td class="kv-content"><input class="easyui-datebox" name="校稿日期" /></td>
                </tr>
                <tr>
                    <td class="kv-label">客户名称</td>
                    <td class="kv-content"><input class="easyui-combobox" name="客户编码" id="designMaster2_customer" required /></td>
                    <td class="kv-label">联系方式</td>
                    <td class="kv-content"><input class="easyui-textbox" name="联系方式" required /></td>
                    <td class="kv-label">业务员</td>
                    <td class="kv-content"><input class="easyui-combobox" id="designMaster2_saleMan" name="业务员编码" required /></td>
                    <td class="kv-label">总页数</td>
                    <td class="kv-content"><input class="easyui-numberbox" name="页数" required /></td>
                </tr>
                <tr>
                    <td class="kv-label">成品尺寸</td>
                    <td class="kv-content"><input class="easyui-textbox" name="成品尺寸" /></td>
                    <td class="kv-label">成品开数</td>
                    <td class="kv-content"><input class="easyui-combobox" name="开数编码" id="designMaster2_openNumber" /></td>
                    <td class="kv-label">展开尺寸</td>
                    <td class="kv-content"><input class="easyui-textbox" name="展开尺寸" /></td>
                    <td class="kv-label">定稿时间</td>
                    <td class="kv-content"><input class="easyui-datebox" name="定稿日期" /></td>
                </tr>
                <tr>
                    <td class="kv-label">设计要求</td>
                    <td class="kv-content mytd" colspan="7"><input class="easyui-textbox" name="加工要求" /></td>
                </tr>
                <tr>
                    <td class="kv-label">备注说明</td>
                    <td class="kv-content mytd" colspan="7"><input class="easyui-textbox " name="备注" /></td>
                </tr>

                <tr>
                    <td class="kv-label">制单人</td>
                    <td class="kv-content"><input class="easyui-combobox" name="制单人编码" id="designMaster2_zhidan" /></td>
                    <td class="kv-label">制单日期</td>
                    <td class="kv-content"><input class="easyui-datebox" name="制单日期" required /></td>
                    <td class="kv-label">审核人</td>
                    <td class="kv-content"><input class="easyui-combobox" id="designMaster2_auditorNo" name="审核人编码" /></td>
                    <td class="kv-label">审核日期</td>
                    <td class="kv-content"><input class="easyui-datebox" name="审核日期" id="designMaster2_auditorTime" /></td>
                </tr>

            </tbody>
        </table>
    </form>
    <div style="height:50%;width:100%;margin-top:10px;">
        <div id="designMaster2_datagrid"></div>
        <!--右击菜单-->
        <div id="designMaster2_menu" class="easyui-menu" style="width: 50px; display: none;">
            <div id="designMaster2_menu_add"><i class="fa fa-plus-square fa-lg"></i>&nbsp;新增</div>
            <div id="designMaster2_menu_edit"><i class="fa fa-pencil-square fa-lg"></i>&nbsp;修改</div>
            <div id="designMaster2_menu_save" flag=""><i class="fa fa-save fa-lg"></i>&nbsp;保存</div>
            <div id="designMaster2_menu_revort"><i class="fa fa-reply-all fa-lg"></i>&nbsp;撤销</div>
            <div id="designMaster2_menu_remove"><i class="fa fa-trash fa-lg"></i>&nbsp;删除</div>
        </div>
    </div>
</div>
<script>
    erpRequire(['order/designSheet'])
</script>
