
@{
    Layout = null;
}

<style>
    .no404 {
        background: url(../images/404.png) center no-repeat;
        min-height: 500px;
        text-align: center;
        position: relative
    }

        .no404 h1 {
            bottom: 55px;
            position: absolute;
            text-align: center;
            width: 100%;
            font-size: 2em;
            color: #889BA9
        }
    h1 {
   
        display: block;
        font-size: 2em;
        -webkit-margin-before: 0.67em;
        -webkit-margin-after: 0.67em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;

    }
        .no404 p {
            bottom: 29px;
            position: absolute;
            text-align: center;
            width: 100%;
            font-size: 1.1em;
            color: #889BA9
        }
</style>

    <div class="no404">
        <h1>我了个去，咋就没有了？</h1>
        <p>搞不灵清找管理员咨询一下噻！</p>
    </div>
 

