
@{
    Layout = null;
}
<!--客户档案print html-->
<!DOCTYPE html>
<html lang="en">
<head>

    <link href="~/Content/printPage.css" rel="stylesheet" />
    <style>
        th, td {
            padding: 5px 15px;
            text-align: center;
        }
        #printProcess {
            line-height: 70px;
        }
    </style>
</head>
<body>

    <div id="content">
        <p id="printLogo">
            <img src="~/images/logo.png" />
        </p>
        <p id="printProcess">客户档案</p>
        <div style="height:48px;">
        </div>
        <table cellspacing="0">
            <thead>
                <tr></tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
    <script src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript">
 $(function() {
        $.ajax({
            type: "post",
            url: "/ERP_Customer/GetPrintData",
            cache: false,
            async: false,
            success: function (response) {
                var headCol = Object.keys(response[0]);
                console.log(headCol);
                var headHtml = '';
                for (var i in headCol) {
                    headHtml += '<th>' + headCol[i] + '</th>';
                }
                $('table>thead>tr').append(headHtml);
                var tbodyHtml = '';
                for (var i = 0; i < response.length; i++) {
                    var trHtml = ''
                    for (var j in response[i]) {
                        trHtml += '<td>' + response[i][j] + '</td>';
                    }
                    tbodyHtml += '<tr>' + trHtml + '</tr>';
                }
                $('table>tbody').append(tbodyHtml);
                window.print();
            }

        });
});
    </script>
</body>
</html>

